In [10]:
import pandas as pd 
import numpy as np
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...

True

In [4]:
df=pd.read_csv('../TextFiles/moviereviews2.tsv',sep='\t')

In [5]:
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

In [6]:
df.dropna(inplace=True)

In [7]:
blanks=[]
for i,lb,rv in df.itertuples():
    if type(rv)==str:
        if rv.isspace():
            blanks.append(i)

In [8]:
blanks

[]

In [9]:
df['label'].value_counts

<bound method IndexOpsMixin.value_counts of 0       pos
1       pos
2       pos
3       neg
4       pos
       ...
5995    pos
5996    neg
5997    neg
5998    pos
5999    pos
Name: label, Length: 5980, dtype: object>

In [11]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [12]:
sid=SentimentIntensityAnalyzer()

In [15]:
df['score']=df['review'].apply(lambda review: sid.polarity_scores(review))

In [17]:
df['compound']=df['score'].apply(lambda d:d['compound'])

In [18]:
df.head()

,label,review,score,compound
0,pos,I loved this movie and will watch it again. Or...,"{'neg': 0.062, 'neu': 0.695, 'pos': 0.243, 'co...",0.8720
1,pos,"A warm, touching movie that has a fantasy-like...","{'neg': 0.033, 'neu': 0.783, 'pos': 0.184, 'co...",0.9549
2,pos,I was not expecting the powerful filmmaking ex...,"{'neg': 0.097, 'neu': 0.795, 'pos': 0.108, 'co...",0.7201
3,neg,"This so-called ""documentary"" tries to tell tha...","{'neg': 0.116, 'neu': 0.832, 'pos': 0.052, 'co...",-0.9821
4,pos,This show has been my escape from reality for ...,"{'neg': 0.031, 'neu': 0.796, 'pos': 0.173, 'co...",0.9874

In [20]:
df['comp_score']=df['compound'].apply(lambda score:'pos' if score >= 0 else 'neg')

In [21]:
df

,label,review,score,compound,comp_score
0,pos,I loved this movie and will watch it again. Or...,"{'neg': 0.062, 'neu': 0.695, 'pos': 0.243, 'co...",0.8720,pos
1,pos,"A warm, touching movie that has a fantasy-like...","{'neg': 0.033, 'neu': 0.783, 'pos': 0.184, 'co...",0.9549,pos
2,pos,I was not expecting the powerful filmmaking ex...,"{'neg': 0.097, 'neu': 0.795, 'pos': 0.108, 'co...",0.7201,pos
3,neg,"This so-called ""documentary"" tries to tell tha...","{'neg': 0.116, 'neu': 0.832, 'pos': 0.052, 'co...",-0.9821,neg
4,pos,This show has been my escape from reality for ...,"{'neg': 0.031, 'neu': 0.796, 'pos': 0.173, 'co...",0.9874,pos
...,...,...,...,...,...
5995,pos,"Of the three remakes of this plot, I like them...","{'neg': 0.028, 'neu': 0.825, 'pos': 0.148, 'co...",0.9377,pos
5996,neg,Poor Whoopi Goldberg. Imagine her at a friend'...,"{'neg': 0.181, 'neu': 0.776, 'pos': 0.043, 'co...",-0.9578,neg
5997,neg,"Honestly before I watched this movie, I had he...","{'neg': 0.057, 'neu': 0.78, 'pos': 0.163, 'com...",0.9856,pos
5998,pos,This movie is essentially shot on a hand held ...,"{'neg': 0.073, 'neu': 0.862, 'pos': 0.065, 'co...",-0.1010,neg
5999,pos,It has singing. It has drama. It has comedy. I...,"{'neg': 0.039, 'neu': 0.762, 'pos': 0.199, 'co...",0.9896,pos

In [22]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [24]:
accuracy_score(df['label'],df['comp_score'])

0.7319397993311036

In [25]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.83      0.58      0.68      2990
         pos       0.68      0.88      0.77      2990

    accuracy                           0.73      5980
   macro avg       0.76      0.73      0.73      5980
weighted avg       0.76      0.73      0.73      5980